*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("../imagens/background.png");
    background-position: 50% 70%;
    color: white;
    font-family: Arial;
}
input{
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid black;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.02);
    color: white;
    outline: none;

}

div#corpo-form {
    /*background-color: red;*/
    width: 420px;
    margin: 150px auto 0px auto;

}

div#corpo-form-cad {
    /*background-color: red;*/
    width: 420px;
    margin: 80px auto 0px auto;

}

div#corpo-form h1, div#corpo-form-cad h1{
    text-align: center;
    padding: 20px;

}
a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

a:hover{
    text-decoration: underline;
}

input[type=submit]{
    background-color: deepskyblue;
    border: none;
    cursor: pointer;
}

::-webkit-input-placeholder{
    color:rgba(255,255,255,0.5);
}

div#msg-sucesso {
    width: 400px;
    margin: 10px auto 10px auto;
    padding: 10px;
    background-color: rgba(50,205,50,.3);
    border: 1px solid rgb(34,139,34);
}

div.msg-erro{
    width: 400px;
    margin: 10px auto 10px auto;
    padding: 10px;
    background-color: rgba(250,128,114,.3);
    border: 1px solid rgb(165,42,42);
}